
#clockdiv{
    font-family: sans-serif;
    color: black;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 80%;
}

#clockdiv > div{
    padding: 8px;
    /*border-radius: 3px;*/
    background: white;
    display: inline-block;
    /*border: 0.6px solid #203893;*/
}

#clockdiv div > span{
    padding: 8px;
    border-radius: 3px;
    background: white;
    display: inline-block;
    border: 0.6px solid #203893;
}

.smalltext{
    padding-top: 3px;
    font-size: 70%;
}


@keyframes first{
    0%{top: 150px;}
    100%{top:0;}
    /*from{ transform: translate(-0px)}
    to{ transform: translate(0px)}*/
}
@keyframes second{
    0%{top: -150px;}
    100%{top:0;}
    /*from{ transform: translate(500px)}
    to{ transform: translate(0px)}*/
}
/*@keyframes phone1{
    0%{top: -150px;}
    100%{top:0;}
    from{ transform: translate(-500px)}
    to{ transform: translate(0px)}
}
@keyframes phone2{
    0%{top: 150px;}
    100%{top:0;}
    /*from{ transform: translate(500px)}
    to{ transform: translate(0px)}
}*/
@keyframes third{
    0%{top: 150px;}
    100%{top:0;}
    /*from{ transform: translate(-500px)}
    to{ transform: translate(0px)}*/
}
@keyframes fourth{
    0%{top: 150px;}
    100%{top:0;}
    /*from{ transform: translate(500px)}
    to{ transform: translate(0px)}*/
}
.first{
    /*transform: translateX(100px,100px);scalex(2,2)*/
    transition: ;
}
/*.coming{
    transition: 0.5s linear;
}
.coming:hover{
    transform: rotate(360deg);
}*/
#notify{
    position: absolute;
}
@media(max-width: 990px){
    .large{
        display: none;
    }
}
@media(min-width: 990px){
    .small{
        display:none;
    }
}